.img-product-detail {
    width: 200px;
    height: 200px;
}
.add-cart-product-detail {
    background-color: blue;
    padding: 10px;
    color: white;
    border: none;
    outline: none;
}
.add-cart-product-detail:hover {
    cursor: pointer;
}
